@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

#header{
    overflow: hidden;
    max-height: 30vh;
}

#img-1{
    position: absolute;
    width: 100%;
}

#tile-container-container{
    display: flex;
    width: 100%;
    align-content: center;
    height: 25vh;
    justify-content: space-around;
}

#tile-container{

    background-color: transparent;
    display: flex;
    height: 8em;
    width: 8em;
    border-radius: 10px;
    align-self: flex-end;
    transition: 1s;

}

#tile-container:hover{
    transition: 250ms;
    transform:translate(10px, -10px)
}

#tile-tool > a > img {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#main-tiles-container{
    margin-top: 1em;
    display: flex;
    width: 100%;
    height: 60vh;
}

#main-tiles-container > div{
    height: 100%;
    width: 50%;
}

#agenda-side{
    display: flex;
    justify-content: center;
}

#tile-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#tile-side > div {
    height: 30%;
    width: 90%;
    border: 1px solid black;
    border-radius: 10px;
}

#tile-side > div{
    position: relative;
}

#tile-side > div {
    transition: 250ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tile-side > div:hover {
    transition: 250ms;
    transform:translate(10px, -10px)
}


#tile-side > div >h1 {
    padding: 2%;
    font-family: "Roboto";
    position: absolute;
    background-color: white;
    border-radius: 10px;
}

#tile-side > div > img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: -1;
}

#agenda-preview-tile{
    display: flex;
}

#agenda-preview-tile > img {
    width: 100%;
    object-fit: cover;
    padding: 1%;
}